#top{
background-color: #aaf1c3;
height: 400px;
width: 1100px;
margin-top: 25;
}
h1{

text-align: center;
color: white;

}
#top2{
margin-bottom: 50px;
}
h3{
	font-size: 0.1px;
	margin-bottom: 50px;
}
h2{
	text-align: center;
	color: white;
}
#circle{
	border-radius: 1000px;
	background-color: white;
	height: 100px;
	width: 100px;
	border: solid 2px grey;
	margin-left: 500px
}
#circle2{
	margin-left: 300px;
	border-radius: 1000px;
	background-color: white;
	height: 100px;
	width: 100px;
	margin-top: -100px;
	border: solid 2px grey;
}
#circle3{
	margin-left: 700px;
	border-radius: 1000px;
	background-color: white;
	height: 100px;
	width: 100px;
	margin-top: -105px;
	border: solid 2px grey;
}
#circle4{
	margin-left: 515px;
	background-color: #EFEFEF;
	border-radius: 1000px;
	height: 75px;
	width: 75px;
	margin-top: 70px;
	border: solid 2px grey;
}
#chevron{
	margin-top: 8px;
}
#box{
	margin-top: 100px;
width: 600px;
height: 250px;
margin-top: 100px;
margin-left: 250px;
	background-color: #E2E2E2;
}
